# IntelliJ
.idea
*.iml

# Java #
*.class

# Maven #
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
dependency-reduced-pom.xml
release.properties
buildNumber.properties
.mvn/timing.properties
.mvn/wrapper/maven-wrapper.jar

# Gradle #
build
.gradle

# Building #
RELEASES/
/.idea/

# Testing #
run
mysql_data